
/* Reset some default styles for the page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
.background{
    background-image: url("https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;


}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style the main content */
main {
    text-align: center;
}

/* Style the banner image */
.banner img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

/* Style the festival description */
.description {
    padding: 20px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
